* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272626;
    font-family: Arial, sans-serif;
    color: #f0e9e9;
    font-size: x-large;
} */



@keyframes gradientMove {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #313242, #0c0b1f, #41505c, #1a1b35);
    background-size: 800% 800%;
    animation: gradientMove 15s ease infinite;
}

.question {
    margin-top: 10px;
    color: #c9c1c1;
    font-style: italic;
    font-size: large;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
}

input[type="text"] {
    width: 400px;
    height: 60px;
    padding: 1rem;
    font-size: 1.25rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-top: 1rem;
}

.btn {
    width: 210px;          /* Match input width */
    height: 60px;          /* Match input height */
    margin-top: 1rem;
    font-size: 1.25rem;    /* Slightly larger font */
    border: none;
    background-color: #161b20;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #35363a;
}